In [6]:
import pandas as pd
import numpy as np

### Coletando as planilhas das ultimas 12 temporadas 1º da Premier League ###

In [ ]:
df1 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1314/E0.csv') # Campeonato Inglês 2013/2014
df2 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1415/E0.csv') # Campeonato Inglês 2014/2015
df3 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1516/E0.csv') # Campeonato Inglês 2015/2016
df4 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1617/E0.csv') # Campeonato Inglês 2016/2017
df5 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1718/E0.csv') # Campeonato Inglês 2017/2018
df6 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1819/E0.csv') # Campeonato Inglês 2018/2019
df7 = pd.read_csv('https://www.football-data.co.uk/mmz4281/1920/E0.csv') # Campeonato Inglês 2019/2020
df8 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2021/E0.csv') # Campeonato Inglês 2020/2021
df9 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/E0.csv') # Campeonato Inglês 2021/2022
df10 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2223/E0.csv') # Campeonato Inglês 2022/2023
df11 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv') # Campeonato Inglês 2023/2024
df12 = pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv') # Campeonato Inglês 2024/2025

### Concatenando as Planilhas ###

In [9]:
df = (df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12)
df = pd.concat(df)

In [10]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,E0,17/08/13,Arsenal,Aston Villa,1.0,3.0,A,1.0,1.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,17/08/13,Liverpool,Stoke,1.0,0.0,H,1.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,17/08/13,Norwich,Everton,2.0,2.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,17/08/13,Sunderland,Fulham,0.0,1.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,17/08/13,Swansea,Man United,1.0,4.0,A,0.0,2.0,A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,E0,09/11/2024,Liverpool,Aston Villa,2.0,0.0,H,1.0,0.0,H,...,1.51,4.84,6.17,1.51,4.90,7.20,1.63,2.58,2.13,1.88
106,E0,10/11/2024,Man United,Leicester,3.0,0.0,H,2.0,0.0,H,...,1.35,5.85,8.48,1.34,6.20,10.00,1.55,2.78,1.98,1.98
107,E0,10/11/2024,Nott'm Forest,Newcastle,1.0,3.0,A,1.0,0.0,H,...,2.90,3.39,2.56,2.88,3.35,2.78,1.99,2.00,2.04,1.95
108,E0,10/11/2024,Tottenham,Ipswich,1.0,2.0,A,0.0,2.0,A,...,1.27,6.83,10.40,1.28,7.00,12.00,1.37,3.65,1.91,2.08
109,E0,10/11/2024,Chelsea,Arsenal,1.0,1.0,D,0.0,0.0,D,...,3.14,3.44,2.38,3.10,3.45,2.54,1.85,2.16,1.84,2.17

In [11]:
df = df [['Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR','B365H', 'B365D', 'B365A']]

In [12]:
df.columns = ['Data','Mandante', 'Visitante', 'Gols_Mandande', 'Gols_Visitante', 'Resultado', 'Odds_Mandante', 'Odds_Empate', 'Odds_Visitante']

In [13]:
df

,Data,Mandante,Visitante,Gols_Mandande,Gols_Visitante,Resultado,Odds_Mandante,Odds_Empate,Odds_Visitante
0,17/08/13,Arsenal,Aston Villa,1.0,3.0,A,1.44,4.75,8.00
1,17/08/13,Liverpool,Stoke,1.0,0.0,H,1.40,5.00,9.50
2,17/08/13,Norwich,Everton,2.0,2.0,D,3.20,3.40,2.40
3,17/08/13,Sunderland,Fulham,0.0,1.0,A,2.30,3.40,3.40
4,17/08/13,Swansea,Man United,1.0,4.0,A,4.20,3.50,2.00
...,...,...,...,...,...,...,...,...,...
105,09/11/2024,Liverpool,Aston Villa,2.0,0.0,H,1.42,5.25,6.50
106,10/11/2024,Man United,Leicester,3.0,0.0,H,1.38,5.50,6.50
107,10/11/2024,Nott'm Forest,Newcastle,1.0,3.0,A,2.70,3.30,2.70
108,10/11/2024,Tottenham,Ipswich,1.0,2.0,A,1.25,6.50,9.00
109,10/11/2024,Chelsea,Arsenal,1.0,1.0,D,2.70,3.40,2.55

In [14]:
df.to_excel('C:/Users/Home/Documents/certificadobetfair - CM/Base_Fotball-Date/12 temporadas PL.xlsx', index=False)