In [3]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('https://www.football-data.co.uk/mmz4281/1819/I2.csv', encoding='ISO-8859-1')

In [54]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E1,03/08/13,Barnsley,Wigan,0,4,A,0,1,A,...,1.82,15.0,0.25,1.84,1.80,2.10,2.06,4.08,3.47,2.06
1,E1,03/08/13,Birmingham,Watford,0,1,A,0,1,A,...,1.81,15.0,0.00,2.16,2.05,1.88,1.77,3.85,3.39,2.14
2,E1,03/08/13,Bournemouth,Charlton,2,1,H,1,0,H,...,1.75,15.0,-0.50,2.22,2.16,1.77,1.72,2.47,3.26,3.25
3,E1,03/08/13,Burnley,Bolton,1,1,D,1,1,D,...,1.77,16.0,0.00,1.94,1.87,2.01,1.95,2.59,3.44,2.90
4,E1,03/08/13,Doncaster,Blackpool,1,3,A,0,1,A,...,1.75,16.0,0.00,1.83,1.78,2.12,2.05,3.03,3.22,2.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E1,03/05/14,Millwall,Bournemouth,1,0,H,1,0,H,...,2.07,22.0,-0.25,2.03,1.96,1.94,1.88,2.02,3.88,3.75
548,E1,03/05/14,Nott'm Forest,Brighton,1,2,A,1,0,H,...,1.94,22.0,0.25,2.09,2.02,1.89,1.83,3.72,3.82,2.04
549,E1,03/05/14,Reading,Burnley,2,2,D,1,2,A,...,1.92,23.0,-0.50,2.11,2.05,1.85,1.79,1.97,3.94,3.88
550,E1,03/05/14,Watford,Huddersfield,1,4,A,0,0,D,...,2.15,23.0,-0.50,2.06,1.99,1.88,1.83,1.97,4.02,3.77
551,E1,03/05/14,Yeovil,Middlesbrough,1,4,A,1,3,A,...,2.07,21.0,0.00,2.36,2.29,1.68,1.63,3.19,3.70,2.29

In [55]:
df = df [['Date','HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR','B365H', 'B365D', 'B365A']]

In [56]:
df.columns = ['Data','Mandante', 'Visitante', 'Gols_Mandande', 'Gols_Visitante', 'Resultado', 'Odds_Mandante', 'Odds_Empate', 'Odds_Visitante']

In [57]:
df

,Data,Mandante,Visitante,Gols_Mandande,Gols_Visitante,Resultado,Odds_Mandante,Odds_Empate,Odds_Visitante
0,03/08/13,Barnsley,Wigan,0,4,A,3.00,3.4,2.50
1,03/08/13,Birmingham,Watford,0,1,A,2.80,3.5,2.60
2,03/08/13,Bournemouth,Charlton,2,1,H,2.25,3.5,3.40
3,03/08/13,Burnley,Bolton,1,1,D,2.70,3.4,2.80
4,03/08/13,Doncaster,Blackpool,1,3,A,2.50,3.4,3.00
...,...,...,...,...,...,...,...,...,...
547,03/05/14,Millwall,Bournemouth,1,0,H,2.30,3.6,3.25
548,03/05/14,Nott'm Forest,Brighton,1,2,A,3.50,3.6,2.15
549,03/05/14,Reading,Burnley,2,2,D,2.10,3.6,3.75
550,03/05/14,Watford,Huddersfield,1,4,A,2.05,3.7,3.75
551,03/05/14,Yeovil,Middlesbrough,1,4,A,3.30,3.6,2.25

In [ ]:
#df.to_excel('C:/Users/Home/Documents/certificadobetfair - CM/Base_Fotball-Date/Analise.xlsx', index=False)